

.t3coreimporter-table {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    border-collapse: collapse;
}

.t3coreimporter-table th, 
.t3coreimporter-table td {
    padding: 10px;
    border: 1px solid #ccc;
}

.t3coreimporter-table .t3coreimporter-importer__headings th {
    font-size: 1.1em;
    font-weight: bold;
    background-color: #eee;
}

.t3coreimporter-table .t3coreimporter-importer__title,
.t3coreimporter-table .t3coreimporter-importer__table {
    width: 10%;
}

.t3coreimporter-table .t3coreimporter-importer__stats {
    width: 35%;
}

.t3coreimporter-table .t3coreimporter-importer__results {
    width: 35%;
}

.t3coreimporter-table .t3coreimporter-importer__actions {
    width: 15%;
}